{% extends "base.html" %}
{% block title %}{{ dealership.name }} Inventory{% endblock %}
{% block content %}
<div class="container mt-5">

  <h1 class="page-header" style="margin-bottom: 40px;">{{ dealership.name }} – Inventory</h1>
  {% if inventory_items %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Stock</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for inventory in inventory_items %}
      <tr>
        <td>{{ inventory.product.name }}</td>
        <td>{{ inventory.product.description }}</td>
        <td>{{ inventory.quantity }}</td>
        <td>${{ inventory.product.price }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No products found for this dealership.</p>
  {% endif %}
</div>

{% endblock %}
