{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2 class="page-header">Dashboard</h2>

<!-- Attribution for prototype intro in presentation video -->
<a href="https://www.vecteezy.com/free-videos/finger"></a>
<a href="https://www.youtube.com/watch?v=jjr3oYJ5wVo&list=PLq2aS32V3IdYErNVHD19SYDd0Jw0xeJ1h"></a>
<!-- Cumulative Revenue Chart -->
<div>
    
    <div class="card-body text-center">
        <img src="{% url 'C3_app1:daily_revenue_chart' %}" class="img-fluid" alt="Daily Revenue Chart">
    </div>
</div>

<div class="row mb-4">
    
    <!-- Claims Overview -->
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header">Initiated Claims</div>
            <ul class="list-group list-group-flush">
                {% for claim in claims %}
                <li class="list-group-item">
                    {{ claim.name }}
                    <a href="{% url 'C3_app1:claims_detail' claim.id %}" class="btn btn-sm btn-dashboard float-end">View</a>
                </li>
                {% empty %}
                <li class="list-group-item">No ongoing claims.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Inventory Levels -->
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header">Dealerships</div>
            <ul class="list-group list-group-flush">
                {% for dealership in dealerships %}
                <li class="list-group-item">
                    {{ dealership.name }}
                    <a href="{% url 'C3_app1:dealership_inventory' dealership.id %}" class="btn btn-sm btn-dashboard float-end">View</a>
                </li>
                {% empty %}
                <li class="list-group-item">No dealerships found.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>



<!-- Sales Section -->
<!-- 
<div class="card">
    <div 
    class="card-header">Latest Sales Transactions
    <a href="{% url 'C3_app1:view_sales' %}" class="btn btn-sm btn-dashboard float-end">View All Sales</a>
    </div>
    
    <ul class="list-group list-group-flush">
        {% for sale in sales %}
        <li class="list-group-item">
            {{ sale.dealership }} - {{ sale.inventory.product }} - {{ sale.quantity }} units sold - {{sale.date_added}}
        </li>
        {% empty %}
        <li class="list-group-item">No sales records available.</li>
        {% endfor %}
    </ul>
</div>
-->
  
{% endblock %}
