{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2>Dashboard</h2>

<div class="row mb-4">
    <!-- Claims Overview -->
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header">Initiated Claims</div>
            <ul class="list-group list-group-flush">
                {% for claim in claims %}
                <li class="list-group-item">
                    {{ claim.name }}
                    <a href="{% url 'C3_app1:claims_detail' claim.id %}" class="btn btn-sm btn-primary float-end">View</a>
                </li>
                {% empty %}
                <li class="list-group-item">No ongoing claims.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Inventory Levels -->
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header">Dealerships</div>
            <ul class="list-group list-group-flush">
                {% for dealership in dealerships %}
                <li class="list-group-item">
                    {{ dealership.name }}
                    <a href="{% url 'C3_app1:dealership_inventory' dealership.id %}" class="btn btn-sm btn-primary float-end">View</a>
                </li>
                {% empty %}
                <li class="list-group-item">No dealerships found.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Sales Section -->
<div class="card">
    <div 
    class="card-header">Latest Sales Transactions
    <a href="{% url 'C3_app1:view_sales' %}" class="btn btn-sm btn-primary float-end">View All Sales</a>
    </div>
    
    <ul class="list-group list-group-flush">
        {% for sale in sales %}
        <li class="list-group-item">
            {{ sale.dealership }} - {{ sale.inventory.product }} - {{ sale.quantity }} units sold - {{sale.date_added}}
        </li>
        {% empty %}
        <li class="list-group-item">No sales records available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
