{% extends "base.html" %}
{% block title %}Inventory{% endblock %}
{% block content %}
<a href="{% url 'C3_app1:add_inventory' %}" class="btn btn-primary btn-block text-decoration-none link-light"> Update inventory</a>

<div class="container mt-5">
  <h2 class="mb-4">Select a Dealership</h2>
  <div class="row">
    {% for dealership in dealerships %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ dealership.name }}</h5>
            <a href="{% url 'C3_app1:dealership_inventory' dealership.id %}" class="btn btn-primary mt-3">View Inventory</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No dealerships available.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}

