{% extends "base.html" %}
{% block title %}Sales Portal{% endblock %}
{% block content %}

<header>
    <h1 class="page-header">Sales Portal</h1>
</header>
<p>The Sales Portal helps you keep track of your sales and allows for new sales to be added.</p>
<div class="d-grid gap-4">
        <a href="{% url 'C3_app1:view_sales' %}" class="btn btn-brown"> View sales transactions</a>
        <a href="{% url 'C3_app1:new_sales' %}" class="btn btn-brown"> Add a new sales transaction</a>
        <a href="{% url 'C3_app1:inventory' %}" class="btn btn-brown"> Manage inventories</a>
</div>
{% endblock content %}