{% extends "base.html" %}
{% block content %}
<header>
    <h1>Sales Portal</h1>
</header>
<p>The Sales Portal helps you keep track of your sales and allows for new sales to be added.</p>
<div class="d-grid gap-2">
        <a href="{% url 'C3_app1:view_sales' %}" class="btn btn-primary btn-block text-decoration-none link-light"> View sales transactions</a>
        <a href="{% url 'C3_app1:new_sales' %}" class="btn btn-primary btn-block text-decoration-none link-light"> Add a new sales transaction</a>
        <a href="{% url 'C3_app1:inventory' %}" class="btn btn-primary btn-block text-decoration-none link-light"> Manage inventories</a>
        <a href="{% url 'C3_app1:new_product' %}" class="btn btn-primary btn-block text-decoration-none link-light">Add a new product</a>
        <a href="{% url 'C3_app1:view_products' %}" class="btn btn-primary btn-block text-decoration-none link-light"> View all products</a>
</div>
{% endblock content %}