.sidebar {
    width: 250px;
    height: 100vh; /* Full height sidebar */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

body .sidebar {
    background-color: #509ff4 !important;
}

.logout-container {
    position: absolute;
    bottom: 20px;  /* Ensures it's at the bottom */
}

.sidebar .navbar-nav {
    width: 100%;
}

.sidebar .nav-link {
    padding: 10px 15px;
    color: #333;
}

.sidebar .nav-link:hover {
    background-color: #e9ecef;
    border-radius: 5px;
}

.content-container {
    margin-left: 260px; /* Push content to the right */
    flex-grow: 1; /* Allow content to take up remaining space */
}

.logo {
    width: 150px;  
    height: auto;  
    margin-bottom: 10px; 
}